{% extends 'base.html' %}
{% block content %}
<div class="center-div">

    <!-- texto central -->
    <div class="texto">

        <!-- logo -->
        <div class="logo">
            <a href="http://www.rhuancarlos.com" target="_blank" title="Rhuan Carlos Web & Design">
                <img src="" style="width: 70px; margin-bottom: 20px;">
            </a>
        </div>
        <!-- fim logo -->

        Hola! soy <span>Felix</span> <br> Un asistente para personas sin Recursos
        <div class="small  small-info">
            Registrate y empieza a ayudar <br>
        </div>

    </div>

</div>
{% endblock %}